/* Main container styling */
.hall-container {
  margin-top: 4rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

/* Robot container styling */
.robots-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Selection area styling */
.selection-area {
  text-align: center;
}
