/* The total value */
h3 {
  font-size: 1.5rem;
}

/* Value digits */
h3 > span {
  font-family: "B612 Mono", monospace;
}

/* Individually selected robots */
.selected-robots {
  width: 75%;
  margin-left: 3rem;
  margin-bottom: 10px;
  padding: 1px 0;
  text-align: center;
  font-family: "Gugi", cursive;
  letter-spacing: 2px;
  background-color: #232832;
  color: #fefeff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

/* Mouse hover effects */
.selected-robots:hover {
  background-color: #e23e58;
}
