.robot {
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 5px;
  line-height: 1.3;
  box-shadow: 12px 15px 30px -12px rgba(30, 30, 60, 0.25);
}

.robot:hover img {
  transform: scale(1.2);
}

.robot img {
  width: 25%;
  border: 2px solid #232832;
  border-radius: 50%;
  transition: all 0.4s ease-in;
}

.robot .robo-name {
  color: #e23e58;
  font-family: "Gugi", cursive;
  font-size: 1.5rem;
}

.robot .robo-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.robo-info div:nth-child(odd) p {
  font-weight: bold;
  text-align: left;
}

.robo-info div:nth-child(even) {
  text-align: right;
}

button {
  margin-top: 2rem;
  padding: 0.7rem 3rem;
  font-family: "B612 Mono", monospace;
  color: #fefeff;
  background-color: #e23e58;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

button:hover {
  background-color: #e92a4a;
}

.btn-icon {
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

button:hover .btn-icon {
  transform: rotate(45deg);
}
